<div class="big-card-container">
  <div class="big-card-photo">
    <img src="https://placehold.co/600x400" alt="">
  </div>
  <div class="big-card-title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card-description">
    <p><a href="#">A comunidade Angular recebeu com entusiasmo a tão aguardada versão 17, que transformou significativamente o framework, ampliando o foco em desempenho e na experiência da pessoa desenvolvedora, o que levou essa atualização a ser conhecida como "Angular Renaissance", ou seja, Renascimento Angular. <b>Venha entender as novas mudanças!</b></a></p>
  </div>
</div>
