.menu-title-container{
  color: #fff;
}

.menu-title-container > h1 {
  margin: 15px 0px;
  font-size: 135px;
  font-family: 'segoe ui';
  display: flex;
  justify-content: center;
}

.menu-title-container > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}
